//Colors
$bg-footer: #282840;
$news: #fdb55b;
$name-hover: #f26780;
$color-p: #ababab;
$padding-main: 80px;
$black: #000000;
$header-height: 60px;
$header-height-mobile: 50px;
$footer-height: 90px;
$gray-color: #9b9b9b;
$primary-color: #ff9314;
$hover-color: mix($primary-color, #000, 90);
$border-color: #ededed;
$date-color: #a9a9a9;
$green-color: #129262;
$contact-bg: #129262;
//Font Sizes
$footer-fontsize: 13px;
//Position
$contact-content-position-top: -100px;
$contact-map-position-top: $contact-content-position-top - 65px;
//bootstrap
$grid-gutter-width: 20px;